#
# The deploy.cfg file is located in the module top dir is a necessary file
# needed for deployments. This file contains config variables, such as 
# mongodb-host, mysqldb-host. Standard variable names are listed on the trac
# wiki at https://trac.kbase.us/projects/kbase/wiki/DeployCfgStandards
#
# The variables in the deploy.cfg file will get "injected" into the module
# makefile. In short, the variable is uppercased and dashes become underscores,
# so mongodb-host in the deploy.cfg file becomes MONGODB_HOST in the module
# makefile when the module makefile is invoked by the system make file at the
# top level of the dev container.
#
#
#
# Deployment configuration for the workspace_deluxe module
#

[Workspace]
# NOTE: the credentials below must work not only for the main workspace
# database, but also for the type database that is configured with the 
# initialize.py script.
# host where mongo lives, e.g. localhost:27017
mongodb-host = localhost
# name of the workspace mongo database
mongodb-database = workspace
# the user name for an account with readWrite access to the database
#mongodb-user = add username here
# password for the account
#mongodb-pwd = add password here

# The KBase authorization server url.
auth-service-url = https://kbase.us/services/auth/api/legacy/KBase/

# The Globus v1 authorization API url.
globus-url = https://kbase.us/services/auth/api/legacy/globus/

# The urls for the Handle Service and Handle Manager.
handle-service-url =
handle-manager-url =
# The token used to access the handle manager.
handle-manager-token = 

# the user name for a workspace administrator. This name is not permanently
# stored in the database and thus the administrator will change if this name
# is changed and the server restarted.
ws-admin = workspaceadmin

# Credentials for the backend account (e.g. shock if used). For now, either a
# password or token can be supplied.
backend-secret =
backend-token =

# port for the service.
port = 7058

# server thread count - this determines the number of requests that can be
# processed simultaneously.
server-threads = 20

#Minimum memory size in MB. This must be 500Mb * server-threads.
min-memory = 10000

#Maximum memory size in MB.
max-memory = 15000

# directory for temporary files. Maximum usage is 10GB * server-threads.
# Ideally, this will be on an SSD drive for speed.
temp-dir = ws_temp_dir

# Document server name. Used for logging.
doc-server-name = WorkspaceDocServ
# Document server document location relative to the classpath. If this
# variable is changed it must also be changed in build.xml
doc-server-docs-location = /server_docs

# MongoDB reconnect retry count. The workspace will try to reconnect 1/s until
# this limit has been reached. This is useful for starting the Workspace
# automatically after a server restart, as MongoDB can take quite a while to
# get from start to accepting connections.
mongodb-retry = 0
