# Copy this file to deploy.cfg and fill in as instructed.

[Workspace]
# NOTE: The MongoDB credentials below must work not only for the main workspace
# database, but also for the type database.

# Host where mongo lives, e.g. localhost:27017
mongodb-host = localhost

# Name of the workspace mongo database
mongodb-database = workspace

# Setting for the MongoDB retryWrites connection parameter.
# See https://www.mongodb.com/docs/manual/core/retryable-writes/
# 'true' is true, anything else is false.
#mongodb-retrywrites = false

# The user name for an account with readWrite access to the database
#mongodb-user = add username here

# Password for the account
#mongodb-pwd = add password here

# The name of the type database. This cannot be the same as the workspace database.
# WARNING: Once any data has been saved by the workspace, changing the type database will
# result in unspecified behavior, including data corruption.
mongodb-type-database = types

# URL for a workspace to which type operations will be delegated. If provided, the
# mongodb-type-database setting is ignored.
# WARNING: See the workspace documentation for detailed instructions on correctly setting up
# type delegation.
# type-delegation-target = 

# The KBase authorization service mkII url.
auth2-service-url = https://kbase.us/services/auth

# The url for the Handle Service.
handle-service-url =
# The credential for the account approved to run the add_read_acl handle service method.
handle-service-token =

# The user name for a workspace administrator. This name is not permanently
# stored in the database and thus the administrator will change if this name
# is changed and the server restarted.
ws-admin = workspaceadmin

# To use the KBase authentication server to determine which users are workspace admins, provide
# authentication server custom roles that designate a user is a read-only admin or a full
# admin, respectively. Multiple roles may be specified as a comma separated list.
# If any roles are provided here, the ws-admin field and any administrators currently
# configured in the workspace database are ignored.
auth2-ws-admin-read-only-roles =
auth2-ws-admin-full-roles =

# The type of the backend that will store the workspace data. Either 'GridFS' or 'S3'.
# WARNING: Once any data has been saved by the workspace, changing the backend will result in
# unspecified behavior, including data corruption.
backend-type = GridFS

# Token / access secret for the backend account. Not required for GridFS.
backend-token =

# Username / access key for the backend account.
# WARNING: Once any data has been saved by the workspace, changing the backend user
# (except for the GridFS backend) will result in unspecified behavior, including data corruption.
# Changing the access key for the S3 backend is acceptable as long as the new access key is
# associated with the same user.
backend-user =

# URL for the backend service. Not required for GridFS.
backend-url = 

# Container for data in the backend service. Only required for S3 - this is the bucket name in
# which objects will be stored.
# The bucket name must obey https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html
# with the extra restriction that periods are not allowed.
backend-container = workspace-data

# Region where the backend service will store data. Only required for S3.
backend-region = us-west-1

# Whether to trust all SSL certificates presented by the backend service. Useful for testing with
# self-signed certificates. 'true' (without quotes) sets the backend to trust all certs; anything
# else requires that the cert, if present, is a standard valid signed certificate. Only affects the
# S3 backend.
# *WARNING* Do not set this to true unless you are absolutely sure of what you are doing.
backend-trust-all-ssl-certificates = false

# The next three configuration items are for handling workspace objects that link to Blobstore
# nodes.
# If the bytestream-url is not supplied, attempting to save objects with Blpbstore links will fail,
# and retrieving objects with Blobstore IDs will contain errors in the returned data JSON.
# Like the backend-user configuration item, bytestream-user is checked against bytestream-token
# as a safety measure.
# bytestream-token must have administrative privileges for the Blobstore.
bytestream-url =
bytestream-user =
bytestream-token =

# Sample service url. Leave blank if the sample service will not be used. In this case, any
# objects containing sample IDs will fail to save.
sample-service-url =
# Sample service administrator token. The token must possess full read/write administrator
# rights for the sample service.
sample-service-administrator-token =

# Port for the service.
port = 7058

# Server thread count - this determines the number of requests that can be
# processed simultaneously.
server-threads = 20

# Minimum memory size in MB. This must be 500Mb * server-threads.
min-memory = 10000

# Maximum memory size in MB.
max-memory = 15000

# Directory for temporary files. Maximum usage is 10GB * server-threads.
# Ideally, this will be on an SSD drive for speed.
temp-dir = ws_temp_dir

# Active listeners - a comma separated list, by name, of event listeners that will be registered.
# Add or remove a name from the list in order to activate or deactivate a listener.
# listeners=X

# Any listener factory implementations and their configurations, grouped by the names in the
# listeners configuration parameter. The listener configuration will be provided to the listener
# as a key-value map. Example:
# listener-X-class=us.kbase.workspace.test.listener.NullListenerFactory
# listener-X-config-key1=value1
# listener-X-config-key2=value2
# listener-X-config-printEvents=true
# listener-X-config-throwException=false

# An example configuration for the Kafka listener
#listener-Kafka-class=us.kbase.workspace.modules.KafkaNotifierFactory
#listener-Kafka-config-topic=ws
#listener-Kafka-config-bootstrap.servers=localhost:9092

# Document server name. Used for logging.
doc-server-name = WorkspaceDocServ
# Document server document location relative to the classpath. If this
# variable is changed it must also be changed in build.xml
doc-server-docs-location = /server_docs
