# copy this file to test.cfg and fill in prior to running tests.

[Workspacetest]

# Minio exe file location 
test.minio.exe = minio

# Blobstore exe file location 
test.blobstore.exe = blobstore

# MongoDB exe file location
test.mongo.exe = /kb/runtime/bin/mongod
# 'true' to use the MongoDB WiredTiger file storage engine (3.0+)
test.mongo.useWiredTiger=false

# path to the ArangoDB executable (arangod, *not* arangodb) to use for the tests.
# In the downloaded tarball it is at /bin/arangod.
test.arango.exe=/path/to/arangoddbexecutable

# path to the ArangoDB javascript startup directory to use for the tests.
# This is the same path as provided to --javascript.startup-directory for the arangod executable.
# In the downloaded tarball it is at /usr/share/arangodb3/js/.
test.arango.js=/path/to/arangodjs

# Temp directory for various database and server files. This path cannot have
# any system specific information (e.g. ~, $HOME, etc)
test.temp.dir = workspace_test_temp

# Set to 'true' (without quotes) to keep temporary test files
# (for debugging purposes), any other value is false
test.temp.dir.keep=false

# Handle Service lib directory location
# To set up, clone handle_service2 repo (https://github.com/kbase/handle_service2)
# Then create biokbase dir in lib dir and copy log.py file into biokbase
#   (https://github.com/kbase/sdkbase2/blob/python/log.py)
# e.g.
# git clone https://github.com/kbase/handle_service2
# cd handle_service2/lib/
# mkdir biokbase
# cd biokbase/
# wget https://raw.githubusercontent.com/kbase/sdkbase2/python/log.py
# cd ..
# pwd

# A python environment for the handle service can be created with https://github.com/pypa/pipenv
# via the Pipfile in python_dependencies.

test.handleservice.dir=

# Sample Service lib directory location
# To set up, clone sample_service repo (https://github.com/kbase/sample_service)

# A python environment for the sample service can be created with https://github.com/pypa/pipenv
# via the Pipfile in python_dependencies.

test.sampleservice.dir=

