# copy this file to test.cfg and fill in prior to running tests.

[Workspacetest]

# The path to the jars dir inside the jars repo, e.g.
# [path to jars repo]/lib/jars
test.jars.dir =

# Shock exe file location
test.shock.exe = /kb/deployment/bin/shock-server
# Shock exe file version
test.shock.version = 0.9.6

# MongoDB exe file location
test.mongo.exe = /kb/runtime/bin/mongod
# 'true' to use the MongoDB WiredTiger file storage engine (3.0+)
test.mongo.useWiredTiger=false

# Temp directory for various database and server files. This path cannot have
# any system specific information (e.g. ~, $HOME, etc)
test.temp.dir = workspace_test_temp

# Set to 'true' (without quotes) to keep temporary test files
# (for debugging purposes), any other value is false
test.temp.dir.keep=false

# Handle Service file location
# Leave empty if you want to test the lastest HandleService
# Otherwise clone handle_service2 repo (https://github.com/kbase/handle_service2)
# Then creat biokbase dir in lib dir and copy log.py file into biokbase (https://github.com/kbase/sdkbase2/blob/python/log.py)
# e.g.
# git clone https://github.com/kbase/handle_service2
# cd handle_service2/lib/
# mkdir biokbase
# cd biokbase/
# wget https://raw.githubusercontent.com/kbase/sdkbase2/python/log.py
# cd ..
# pwd
test.handleservice.dir=


