# copy this file to test.cfg and fill in prior to running tests.

[Workspacetest]

# Three tokens for *different* KBase user accounts.
test.token1 =
test.token2 =
test.token3 =

# The KBase authorization server url.
test.auth.url = https://ci.kbase.us/services/auth/api/legacy/KBase

# The Globus v1 authorization API url.
test.globus.url = https://ci.kbase.us/services/auth/api/legacy/globus

# Shock exe file location 
test.shock.exe = /kb/deployment/bin/shock-server
# Shock exe file version
test.shock.version = 0.9.6

# MongoDB exe file location
test.mongo.exe = /kb/runtime/bin/mongod
# 'true' to use the MongoDB WiredTiger file storage engine (3.0+)
test.mongo.useWiredTiger=false

# MySQL exe file locations for mysqld and mysql_install_db
test.mysql.exe = /usr/sbin/mysqld
test.mysql.install.exe = /usr/bin/mysql_install_db

# Handle service and Handle manager constants
# Plackup executable file location
test.plackup.exe = /kb/runtime/bin/plackup
# location of PSGI files for the handle service and handle manager
test.handle.service.psgi = /kb/deployment/lib/AbstractHandle.psgi
test.handle.manager.psgi = /kb/deployment/lib/HandleMngr.psgi
# the PERL paths to use with the handle service and handle manager
test.handle.PERL5LIB = /kb/deployment/lib

# Temp directory for various database and server files. This path cannot have
# any system specific information (e.g. ~, $HOME, etc)
test.temp.dir = workspace_test_temp

# Set to 'true' (without quotes) to keep temporary test files
# (for debugging purposes), any other value is false
test.temp.dir.keep=false

